*{
	padding: 0;
	margin: 0;
}
body{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-image:url(../img/zigzag.gif);
	background-color: #E9E9E9;
}
#addbookmain{
	margin: 0 auto;
	width: 80%;
	height: 90%;
	padding: 15px 0px 30px 25px;
	border-left: 1px #E9E9E9 solid;
	border-bottom: 1px #E9E9E9 solid;
	border-top: 1px #FAFAFA solid;
	border-right: 1px #FAFAFA solid;
}
#addbookmain label{
	font-family: Arial;
	display: block;
	color: #333;
}
input, select, textarea{
	margin: 8px 15px;
}
textarea{
	font-family: Verdana;
	font-size: 10pt;
}
#editquality{
	font-size: 8pt;
	float: right;
	padding-right: 4px;
}
#needed{
	padding-left: 8px;
	color: blue;
}
#submit{
	float:right;
}
#phpholder a{
	font-size: 8pt;
}
#bookicon{
	position: absolute;
	right: 5px;
	bottom: 5px;
	z-index: -10;
	filter: alpha(50);
	opacity: .5;
}
h1{
	font-family: Tahoma, Geneva, sans-serif;
	color: #333;
	position:relative;
	margin-left: 20px;
}
