*{
	padding: 0;
	margin: 0;
}
body{
	background-image: url(../img/zigzag.gif);
	background-repeat: repeat-x;
	background-color: #E9E9E9;
	font-family: "Myriad Web Pro";
	text-align: center;
}
img{
	border: none;
}
h1{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	color: #333;
	margin: 0px 20px 20px 20px;
	text-align: left;
}
h2{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 18pt;
	color: #333;
	margin-top: 15px;
	margin-bottom: 15px;
}
label{
	margin-left: 10px;
}
#filterbooktxt, #filterstudenttxt{
	width: 70%;
	margin: 0 auto;
	display: block;
	
}

#borrowdiv{
	text-align: left;
	width: 80%;
	margin: 0 auto;
	background-image: url(../img/magnify.png);
	background-repeat: no-repeat;
	background-position: right;
	padding: 6px 0px 30px 25px;
	border-left: 1px #E9E9E9 solid;
	border-top: 1px #FAFAFA solid;
	border-right: 1px #FAFAFA solid;
}
#choosebook, #choosestudent{
	display: block;
	height: 150px;
	overflow: scroll;
	border: none;
	margin: 0 auto;
	width: 800px;
	border-left: 1px #E9E9E9 solid;
	border-bottom: 1px #E9E9E9 solid;
	border-top: 1px #FAFAFA solid;
	border-right: 1px #FAFAFA solid;
}
#alertselection{
	position: absolute;
	width: 100px;
	height: 100px;
	left: 100%;
	margin-left: -105px;
	padding-top: 8px;
	top: 45px;
	background-image: url(../img/alerticonsmall.png);
	border-left: 1px #E9E9E9 solid;
	border-bottom: 1px #E9E9E9 solid;
	border-top: 1px #FAFAFA solid;
	border-right: 1px #FAFAFA solid;
	font-family: Tahoma;
	letter-spacing: 2px;
	font-weight: bold;
}
#submit{
	float: right;
}
