

#editobjectwrapper h2 {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    color: #444;
    margin: 15px;
}

#editobjectwrapper label {
    font-size: 12pt;
    font-family: Tahoma;
    font-weight: bold;
    color: #444;
    margin-left: 30px;
    display: block;
}

#editobjectwrapper input, select, textarea {
    margin-left: 55px;
}

#editobjectwrapper #submit {
    float: right;
    width: 80px;
}

#editobjectwrapper textarea {
    width: 70%;
    height: 100px;
}

#editobjectwrapper input.textClass {
    margin-bottom: 8px;
}

#editobjectwrapper #editobject {
	position: fixed;
    z-index: 8;
    width: 300px;
    height: 400px;
    left: 50%;
	margin-left: -150px;
    background-image: url(../img/zigzag.gif);
    background-repeat: repeat-x;
    background-color: #E9E9E9;
}

#shadelayer {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: 7;
}