*{
	padding: 0;
	margin: 0;
}
body{
	background-image: url(../img/zigzag.gif);
	background-color: #E9E9E9;
	background-repeat: repeat-x;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-align: center;
}
img{
	border: none;
	margin-right: 8px;
}
#panel{
	text-align: left;
	background-image: url(../img/post.gif);
	background-repeat: repeat-x;
	background-color: white;
	margin: 0 auto;
	width: 850px;
}
#version{
	margin: 0 auto;
	border-left: 1px #E9E9E9 solid;
	border-bottom: 1px #E9E9E9 solid;
	border-top: 1px #FAFAFA solid;
	border-right: 1px #FAFAFA solid;
	width: 780px;
}
#version h4{
	color: #222222;
	font-size: 12pt;
	font-weight: bold;
}
#version p{
	margin-left: 40px;
	font-size: 12pt;
}
#version textarea{
	margin-left: 40px;
	width: 400px;
	height: 100px;
}
