*{
	padding: 0;
	margin: 0;
}
body{
	background-image: url(../img/zigzag.gif);
	background-repeat: repeat-x;
	background-color: #E9E9E9; 	
}
#toolbar img{
	border: none;
	margin-right: 8px;
}
h1{
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	color: #333;
	margin-left: 40px;
}
td img{
	margin-left: 8px;
}
#search input, select{
	margin-left: 20px;
}
#resultsHolder{
	margin: 0 auto;
	width: 80%;
}
#contents{
	background-image: url(../img/post.gif);
	background-repeat: repeat-x;
	background-color: white;
}
