#search{
	background-image: url(../img/magnify.png);
	background-repeat: no-repeat;
	background-position: left;
	margin: 0 auto;
	border-left: 1px #E9E9E9 solid;
	border-bottom: 1px #E9E9E9 solid;
	border-top: 1px #FAFAFA solid;
	border-right: 1px #FAFAFA solid;
	width: 780px;
}
#search h1{
	font-family: "Myriad Web Pro", Tahoma, Arial, Helvetica, sans-serif;
	color: #3D3D3D;
	position: relative;
	left: 40px;
}
#search #searchcomponets{
	position: relative;
	left: 70px;
}