#toolbar{
	clear: both;
	padding: 0;
	text-align: center;
}
#toolbar ul{
	height: 45px;
	width: 100%;
	display: inline;
	float: left;
	background-image: url(../img/toolbar.jpg);
	background-repeat: repeat-x;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	text-align: left;
}
#toolbar ul li{
	padding: 0;
	margin: 0;
	display: inline;
}
#toolbar ul li a {
	border-bottom:medium none;
	border-left:1px solid #FAFAFA;
	border-right:1px solid #DADADA;
	color:#2D2D2D;
	display:block;
	float: left;
	font-family:"Century Gothic","Trebuchet MS",Helvetica,Arial,Geneva,sans-serif;
	font-size:14px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	letter-spacing:1px;
	line-height:45px;
	margin:0;
	padding:0 15px;
	text-decoration:none;
	text-transform:uppercase;
	width:auto;
}
#toolbar ul li a.floatright{
	float: right;
}
