*{
	padding: 0;
	margin: 0;
}
#darklayer{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.6;
	z-index: 7;
}
#viewnotewrapper{
	
}
#viewnote{
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -175px;
	margin-top: -125px;
	background-image: url(../img/bluegrad.png);
	background-repeat: repeat-x;
	background-color: #1A005B;
	width: 350px;
	height: 300px;
	z-index: 8;
}
#viewnote textarea{
	width: 99%;
	height: 200px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
#viewnote h2{
	font-family: Tahoma;
	padding: 15px;
	color: #EAEAEA;
}
#viewnote input{
	float: right;
	margin-top: 10px;
	margin-right: 20px;
	width: 80px;
}
