<link rel='stylesheet' href='redsight.css' type='text/css' />
<table>
	<tr>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Favorite Food</th>
	</tr>
	<tr>
		<td>Jack</td>
		<td>Terris</td>
		<td>Vinnila Cake w/o icing</td>
	</tr>
	<tr>
		<td>Gerald</td>
		<td>Craig</td>
		<td>Apple Pie</td>
	</tr>
</table>