body {
    line-height: 1em;
}

table {
    border-collapse: collapse;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    text-align: left;
	margin: 0 auto;
    width: 100%;
}

table th {
    background: #B9C9FE none repeat scroll 0 0;
    border-bottom: 1px #89A5F9 solid;
    border-top: 4px solid #AABCFE;
    color: #003399;
    padding: 8px;
}

table td {
    background: #E8EDFF none repeat scroll 0 0;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid transparent;
    color: #666699;
    padding: 8px;
}

table tr:hover td {
    color: #339;
    background: #D0DAFD none repeat scroll 0 0;
}